<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ruiz - Watch Store HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/simple-line-icons.css}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/slick.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/fancy-box.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/jqueryui.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/dropdown.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/form.css}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
    <script th:src="@{/js/vendor/vendor.min.js}"></script>
    <script th:src="@{/js/plugins/plugins.min.js}"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--<link rel="stylesheet" th:href="@{/css/style.min.css}">-->
    <!--  font-awesome  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>