<!-- Modernizer JS -->
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>

<!-- jquery -->
<script th:src="@{/js/vendor/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.4.0.min.js}"></script>

<!-- Bootstrap JS -->
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>

<!-- Plugins JS -->
<script th:src="@{/js/plugins/slick.min.js}"></script>
<script th:src="@{/js/plugins/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/plugins/countdown.min.js}"></script>
<script th:src="@{/js/plugins/image-zoom.min.js}"></script>
<script th:src="@{/js/plugins/fancybox.js}"></script>
<script th:src="@{/js/plugins/scrollup.min.js}"></script>
<script th:src="@{/js/plugins/jqueryui.min.js}"></script>
<script th:src="@{/js/plugins/ajax-contact.js}"></script>
<script th:src="@{/js/plugins/dropdown.js}"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script th:src="@{/js/vendor/vendor.min.js}"></script>
<script th:src="@{/js/plugins/plugins.min.js}"></script>
-->

<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>