<script th:src="@{js/jquery1-3.4.1.min.js}"></script>

<script th:src="@{js/popper1.min.js}"></script>

<script th:src="@{js/bootstrap1.min.js}"></script>

<script th:src="@{js/metisMenu.js}"></script>

<script th:src="@{vendors/count_up/jquery.waypoints.min.js}"></script>

<script th:src="@{vendors/chartlist/Chart.min.js}"></script>

<script th:src="@{vendors/count_up/jquery.counterup.min.js}"></script>

<script th:src="@{vendors/niceselect/js/jquery.nice-select.min.js}"></script>

<script th:src="@{vendors/owl_carousel/js/owl.carousel.min.js}"></script>

<script th:src="@{vendors/datatable/js/jquery.dataTables.min.js}"></script>
<script th:src="@{vendors/datatable/js/dataTables.responsive.min.js}"></script>
<script th:src="@{vendors/datatable/js/dataTables.buttons.min.js}"></script>
<script th:src="@{vendors/datatable/js/buttons.flash.min.js}"></script>
<script th:src="@{vendors/datatable/js/jszip.min.js}"></script>
<script th:src="@{vendors/datatable/js/pdfmake.min.js}"></script>
<script th:src="@{vendors/datatable/js/vfs_fonts.js}"></script>
<script th:src="@{vendors/datatable/js/buttons.html5.min.js}"></script>
<script th:src="@{vendors/datatable/js/buttons.print.min.js}"></script>

<script th:src="@{vendors/datepicker/datepicker.js}"></script>
<script th:src="@{vendors/datepicker/datepicker.en.js}"></script>
<script th:src="@{vendors/datepicker/datepicker.custom.js}"></script>
<script th:src="@{js/chart.min.js}"></script>
<script th:src="@{vendors/chartjs/roundedBar.min.js}"></script>

<script th:src="@{vendors/progressbar/jquery.barfiller.js}"></script>

<script th:src="@{vendors/tagsinput/tagsinput.js}"></script>

<script th:src="@{vendors/text_editor/summernote-bs4.js}"></script>
<script th:src="@{vendors/am_chart/amcharts.js}"></script>

<script th:src="@{vendors/scroll/perfect-scrollbar.min.js}"></script>
<script th:src="@{vendors/scroll/scrollable-custom.js}"></script>

<script th:src="@{vendors/vectormap-home/vectormap-2.0.2.min.js}"></script>
<script th:src="@{vendors/vectormap-home/vectormap-world-mill-en.js}"></script>

<script th:src="@{vendors/apex_chart/apex-chart2.js}"></script>
<script th:src="@{vendors/apex_chart/apex_dashboard.js}"></script>

<script th:src="@{vendors/chart_am/core.js}"></script>
<script th:src="@{vendors/chart_am/charts.js}"></script>
<script th:src="@{vendors/chart_am/animated.js}"></script>
<script th:src="@{vendors/chart_am/kelly.js}"></script>
<script th:src="@{vendors/chart_am/chart-custom.js}"></script>

<!--<script th:src="@{js/dashboard_init.js}"></script>-->
<script th:src="@{js/custom.js}"></script>